
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #121112;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%2384320d' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: #fff;
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

a {
  color: #fff;
  text-decoration: none; 
  font-size: 28px;
}

ul {
    list-style: none;
}


.nav-main {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px;
}

h1 {
    font-size: 3rem;
    padding: 3px 0;
}

/* Nav left */
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 6px;
}

.nav-main ul li a:hover {
    border-bottom: 3px solid #fff;
}

.nav-menu {
    flex: 1;
    margin-left: 10px;
}

/* Showcase*/

hr {
    margin: 10px 0;
}

.showcase {
    display: flex;
}

.description {
    width: 60%;
    height: 550px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.description h2 {
    margin-bottom: 20px;
    font-size: 38px;
}

.description p {
    font-size: 32px;
    text-align: center;
}

.banner {
    width: 40%;
    height: 550px;
    margin-right: 20px;
}

/* Card */

.card {
    display: flex;
}

.card-description {
    width: 60%;
    height: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.card-image {
    width: 40%;
    height: 550px;
    margin: 20px;
}

.card-description h2 {
    margin-bottom: 20px;
    font-size: 38px;
}

.card-description p {
    font-size: 32px;
    text-align: center;
}

/*Result*/
.result-question {
    font-size: 80px;
}

.score-question {
    font-size: 50px;
}

.score-question span {
    background-color: rgb(12, 168, 116);
    padding: 5px 20px;
}

.score-question span:hover {
    background: rgb(9, 140, 157);
}
